{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Annoucements</title>{% endblock %}
{% block content %}

<h3>Important Annoucements</h3>
<hr>

<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        

        <h3>We Are Hiring!</h3>
        <p>With the way the world is today, well paying jobs with a family-oriented company 
            are becoming difficult to find. We want to change that! Have experince with home repair?
            This could be in any aspect - pipes, electrical, painting, woodwork, roofing, and more! 
            We want YOU! For twenty years, I have built a team that is second to none. Flexible hours,
            appealing pay, a laid back work enviornment, can you see what's not to love? May 6th, come to our
            main building in Hampton Falls, NH. Refreshments, resume review, chats with employees, and a good chance
            to become a part of our fantastic team await. Are you excited?
            
            
            
            <img src="{{url_for('static', filename='hire.jpg')}}"  class="rounded mx-auto d-block" alt="Amazing Logo"
            width="350" 
            height="250">

        </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>Extreme Revenue Growth: 2021</h3>
        <p>We are happy to report a substantial increase in reveneue, rebounding from some down years due to the pandemic
            Covid relief aide sent to us was a huge help, but we couldn't have done it without the business
            from our wonderful clients. Here is to another year of growth, and stability for all!
        </p>
        <h3>Covid Update</h3>
        <p>Keeping up with the latest CDC guidelines, masks are now optional in the main work office
            in Hampton Falls, NH. If you want to wear one to protect yourself and others, you are free
            (and encouraged) to still do so. It is up to the discretion of the client on weather or not
            to wear one on the job, so make sure you have one and are wearing your mask to start! Thank you!
        
            <img src="{{url_for('static', filename='CDC.jpg')}}"  class="rounded mx-auto d-block" alt="Amazing Logo"
            width="250"
            height="250">
        
        </p>
      </div>
    </div>
  </div>
{% endblock %}