{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Documents</title>{% endblock %}
{% block content %}

<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Important Documents!</h3>

        <p>To the right, links to important company business reside. These include:
            <ul>
                <li>By-Laws</li>
                <li>Meeting Minutes</li>
                <li>Fincancial Report: Previous year</li>
                <li>Liability Contract: For Clients</li>
              </ul>
        </p>
      </div>
      <div class="col-sm-6">

        <!--Table containing Links-->
        <table class="table .table-dark">
            <thead>
              <tr>
                <th scope="col">DocID</th>
                <th scope="col">Name</th>
                <th scope="col">Date Updated</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">01</th>
                <td>Company By-Laws</td>
                <td>5-19-18</td>
                <td><a href="https://docs.google.com/document/d/1iCE7Ro84b-4RQ267bDGWLkVnlZVYyGZy9P4yGBZ-quM/edit?usp=sharing">CLICK HERE</a></td>
              
              </tr>
              <tr>
                <th scope="row">02</th>
                <td>Jim</td>
                <td>Telly</td>
                <td>Job Site Assistant</td>
               
              </tr>
              <tr>
                <th scope="row">03</th>
                <td>Jim</td>
                <td>Telly</td>
                <td>Job Site Assistant</td>
           
              </tr>
              <tr>
                <th scope="row">04</th>
                <td>Jim</td>
                <td>Telly</td>
                <td>Job Site Assistant</td>
      
              </tr>
            </tbody>
          </table>
{% endblock %}