{% extends "base.html" %}
{% set active_page = "documents" %}

{% block title %}<title>Documents</title>{% endblock %}
{% block content %}

<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Important Documents!</h3>

        <p>To the right, links to important company business reside. These include:
            <ul>
                <li>By-Laws</li>
                <li>Meeting Minutes</li>
                <li>Fincancial Report: Previous year</li>
                <li>Liability Contract: For Clients</li>
              </ul>
        </p>
        
      </div>
      <div class="col-sm-6">

        <!--Table containing Links-->
        <table class="table .table-dark">
            <thead>
              <tr>
                <th scope="col">DocID</th>
                <th scope="col">Name</th>
                <th scope="col">Date Updated</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">01</th>
                <td>Company By-Laws</td>
                <td>5-19-18</td>
                <td><a href="https://docs.google.com/document/d/1iCE7Ro84b-4RQ267bDGWLkVnlZVYyGZy9P4yGBZ-quM/edit?usp=sharing">CLICK HERE</a></td>
              
              </tr>
              <tr>
                <th scope="row">02</th>
                <td>Meeting Minutes</td>
                <td>3-18-22</td>
                <td><a href="https://docs.google.com/document/d/1p3m2b1yPFM1FkGknKdRXTaeHzEWew-KrEfPquevt8mA/edit?usp=sharing">CLICK HERE</a></td>
               
              </tr>
              <tr>
                <th scope="row">03</th>
                <td>Financial Report 2021</td>
                <td>2-15-22</td>
                <td><a href="https://docs.google.com/document/d/1unryDZTOaqyMAVF4GDZJ1GbA_JLeaFWL2ULxQ8QfU2E/edit?usp=sharing">CLICK HERE</a></td>
           
              </tr>
              <tr>
                <th scope="row">04</th>
                <td>Liability Contract</td>
                <td>10-25-21</td>
                <td><a href="https://docs.google.com/document/d/1tYD4Ts_R89Xdo4UwQUM8QBRhOBoBtsB02f52jWTztk4/edit?usp=sharing">CLICK HERE</a></td>
      
              </tr>
            </tbody>
          </table>
        </div>


        <img src="{{url_for('static', filename='documents.png')}}" class="rounded mx-auto d-block" alt="Amazing Logo">

{% endblock %}