{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Documents</title>{% endblock %}
{% block content %}

<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Important Documents!</h3>

        <p>Below, links to important company business reside. These include:
            <ul>
                <li>By-Laws</li>
                <li>Meeting Minutes</li>
                <li>Fincancial Report: Previous year</li>
                <li>Liability Contract: For Clients</li>
              </ul>
        </p>
      </div>
      <div class="col-sm-6">

{% endblock %}