{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Employee Directory</title>{% endblock %}
{% block content %}


<table class="table .table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Job Title</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Adam</td>
        <td>LePage</td>
        <td>Owner</td>
        <td>603-555-5551</td>
        <td>lepage@lhr.net</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Bill</td>
        <td>Nevins</td>
        <td>Lead Consultant</td>
        <td>603-444-4445</td>
        <td>nevins@lhr.net</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cindy</td>
        <td>Smith</td>
        <td>Lead Consultant</td>
        <td>978-884-8881</td>
        <td>smith@lhr.net</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Jim</td>
        <td>Telly</td>
        <td>Job Site Assistant</td>
        <td>207-445-5589</td>
        <td>telly@lhr.net</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Sid</td>
        <td>Jones</td>
        <td>Job Site Assistant</td>
        <td>207-998-9991</td>
        <td>jones@lhr.net</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Mark</td>
        <td>Spencer</td>
        <td>Roof Consultant</td>
        <td>603-997-7778</td>
        <td>spencer@lhr.net</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Carla</td>
        <td>James</td>
        <td>Office Admin</td>
        <td>603-991-1178</td>
        <td>james@lhr.net</td>
      </tr>
    </tbody>
  </table>



  {% endblock %}