{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Events</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Friday Fun!</h3>

        <p>
            Our employees are the hardest working people we know. it has been a difficult time since
            the osnet of the pandemic over two years ago, and every single person in our company 
            powered through to keep LHR running to everybody's expectations! Starting in April, every
            Friday will consist of a three hour block of games, refreshments, and time to connect with peers!
            All family members, and clients alike are welcome to join as well! YOU have ALL earned this, and
            relaxation after a long week is vital to the company's long term success!!

            <img src="{{url_for('static', filename='friday.jpg')}}" class="rounded mx-auto d-block" alt="Amazing Logo"
        width="350"
        height="250">


        </p>

        

        <h3>Company Retreat</h3>

        <p>
           On May 13th, you are ALL invited to attend the anual company retreat - this year taking place in
           North Conway, NH! All employees and family members are invited for a weekend of hikes, good food,
           and time by the pool. To RSVP, head over to the employee directory and give Carla a call or email, 
           she will have to covered! North Conway awaits.

           <img src="{{url_for('static', filename='conway.jpg')}}" class="rounded mx-auto d-block" alt="Amazing Logo"
        width="350"
        height="250">

        
        </p>

        


        <p></p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>Company Calender</h3>

        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=America%2FNew_York&title=LePage%20Home%20Repair&src=czllZHBndHZqcnQ5YTZnaHJpcmloYXE1YThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23616161" style="border:solid 1px #777" width="600" height="600" frameborder="0" scrolling="no"></iframe>
        
    </div>
  </div>
{% endblock %}