{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}

<h3>Serving the Seacoast for over 20 years!</h3>
<hr>

<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>
        <hr>

        <p> <h3>Our Story</h3> Twenty years ago, Lepage Home Repair came to frution - now it is a succesful company that
          I am proud to say is my life's work! Servicing the NH Seacoast area, if you have a home repair 
          problem, we are the one's to fix it! 
        </p>

        <h3>Our Services</h3>

        <p>
          <ul>
            <li>Roof Installation/Repair (NEW)</li>
            <li>Painting</li>
            <li>Electrical Work</li>
            <li>Plumbing</li>
            <li>Carpentry</li>
            <li>General Appliance Repair</li>
          </ul>
          <img src="{{url_for('static', filename='3313024203.jpg')}}" class="rounded mx-auto d-block" alt="Amazing Logo"
          width="550"
          height="350">
        </p>

      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <hr>
        <p><h3>March 23, 2022</h3>Our eldest and longest tenured employee, Bill, has annouced he is retiring. In honor of Bill's Twenty
          years of impeccable service, we will be holding a retirement party at Ashworth By The Sea in Hampton NH.
          All employees, friends, family, and clinets are welcome to attend, free of charge! Bill has decided to
          also hold a fundraiser at the event to help animal shelters all througout Maine and New Hampshire!
          See YOU there!
        </p>
        <p><h3>March 9, 2022</h3>We now service ROOFS! Over the last year, we have hired and put together a dedicated team of
          roofers that can repair, and replace your roof at home! Any time of year, any day, we'll name our
         estimate price and the rest is up to you! We'll provide caring and charasmatic service that is sure 
         to rival any roof repair business in the area. Give us a call.
         <img src="{{url_for('static', filename='repair.jpg')}}" class="rounded mx-auto d-block" alt="Amazing Logo"
         width="550"
         height="350"></p>
      </div>
    </div>
  </div>
  
{% endblock %}