{% extends "base.html" %}
{% block title %}<title>Issues Log</title>{% endblock %}
{% set active_page = "issueslog" %}

{% block content %}
<!-- container for tablular structure: 1 row & 1 column -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- Login Form -->
      <div class="form-group">
        <h1>Log In</h1>
        {% if error %}
        <h3 style="color:red"> {{ error }} </h3>
        {% endif %}
        <form action="" method="post" name="login">
          <input class="form-control" type="text" name="username" placeholder="Username" required /><br />
          <input class="form-control" type="password" name="password" placeholder="Password" required /> <br />
          <input class="btn btn-primary btn-lg" name="admin" type="submit" value="Login" />
          <a href="{{ url_for('register')}}" class="btn btn-primary btn-lg" role="button">Register</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}