{% extends "base.html" %}
{% block title %}<title>Issues Log</title>{% endblock %}
{% set active_page = "admin" %}

{% block content %}
<!-- container for tablular structure: 1 row & 1 column -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- If there is a current user session, display dashboard entries -->
      {% if session['user_id'] %}
     
      <div class="col-sm-8 text-left"> 
      
        <div class="form">
    <p>Welcome to Dashboard.</p>
  
    
    <p> <a href="{{ url_for('view')}}" class="btn btn-primary btn-lg" role="button">View Records</a>
        <a href="{{ url_for('insertissue')}}" class="btn btn-primary btn-lg" role="button">Insert Issue</a>
        <div class="form-group">
        <form action="" method="post" name="logout">
              <input class="btn btn-primary btn-lg" name="admin" type="submit" value="Logout" />
        </form>
          </div>
    </p>
  
  
  <br /><br /><br /><br />
  
  </div>

      <!-- If user is not logged in, show login form instead -->
      {% else %}
      <!-- Login Form -->
      <div class="form-group">
        <h1>Log In</h1>
        {% if error %}
        <h3 style="color:red"> {{ error }} </h3>
        {% endif %}
        <form action="" method="post" name="admin">
          <input class="form-control" type="text" name="username" placeholder="Username" required /><br />
          <input class="form-control" type="password" name="password" placeholder="Password" required /> <br />
          <input class="btn btn-primary btn-lg" name="admin" type="submit" value="Login" />
          <a href="{{ url_for('register')}}" class="btn btn-primary btn-lg" role="button">Register</a>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}